<div class="bg-gray-900 min-h-screen flex flex-col">
    
    <div class="z-20 inset-x-0 top-0 bg-gray-800 h-24 w-full text-center fixed shadow-xl flex items-center justify-center text-4xl text-white font-bold leading-none tracking-tight">
      TASK LIST
    </div>
  
    <div class="pt-24 pb-24 flex-1">

      <button routerLink="/newtasktable" class="z-20 fixed bottom-4 right-4 h-20 w-20 bg-yellow-500 rounded-full hover:bg-yellow-600 hover:shadow-lg shadow-2xl text-4xl text-center text-black font-bold leading-none">
        +
      </button>
  
      <div *ngIf="tasks.length >= 1" class="m-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-32">
        <app-task *ngFor="let task of tasks" [val]="task" (delete)="deletetaskcard(task.taskid)"></app-task>
      </div>
    </div>
  </div>
  