<div
    class=" z-20 inset-x-0 top-0 bg-blue-600 h-24 w-full text-center fixed shadow-xl flex items-center justify-center text-5xl text-white font-extrabold leading-none tracking-tight">
    TASK LIST</div>

    <button routerLink="/newtasktable" class="z-20 fixed bottom-4 right-4 h-24 aspect-square bg-blue-500 rounded hover:text-blue-500 hover:bg-white hover:shadow-gray-500 shadow-2xl shadow-gray-500 active:bg-blue-500 active:text-white text-5xl text-center tracking-tight text-white font-extrabold leading-4">+</button>

<div *ngIf="tasks.length >= 1" class="flex-col inset-y-16 inset-x-32 mt-24">
    @for (task of tasks; track task) {
    <app-task [val]="task" (delete)="deletetaskcard(task.taskid)"></app-task>
    }
</div>