<div
    class="hover:bg-transparent relative bg-slate-200 rounded-lg border-2 border-gray-300 shadow-lg w-full h-full overflow-hidden">

    <div
        class="left-0 border-gray-300 rounded-lg inset-y-0 text-8xl h-32 w-32 bg-blue-500 text-center flex flex-col justify-center items-center text-white font-bold leading-none tracking-tight">
        {{val.priority}}</div>

    <div
        class="absolute inset-y-5 left-36 w-60 h-24 text-gray-600 mb-4 text-sm font-extrabold leading-none tracking-tight  md:text-4xl lg:text-4xl dark:text-white text-nowrap">
        {{val.name}}</div>

    <div
        class="absolute inset-y-20 left-36 text-gray-600 mr-32 text-sm font-bold leading-none tracking-tight  md:text-xl lg:text-xl w-60 dark:text-white text-nowrap text-ellipsis">
        {{val.description}}</div>

    <div class="absolute inset-y-11 text-gray-600 right-80 text-xl w-40">{{val.duetime | date}}</div>

    <button (click)="deletetask()" type="update"
        class=" block  p-1 rounded bg-red-500 absolute inset-y-10 right-12 w-28 font-bold text-white">delete</button>
    <button (click)="updatetask()" type="submit"
        class=" block  p-1 rounded bg-emerald-500 absolute inset-y-10 right-48  w-28 font-bold text-white">update</button>
</div>