<div class="h-screen w-screen overflow-hidden flex justify-center items-center">
    <form [formGroup]="taskform" (ngSubmit)="newtask()">
        <div class="shadow-2xl bg-white grid grid-rows-5 gap-4 px-10 py-10 rounded-lg border-slate-700 border-solid">

            <h1
                class="justify-center items-center text-center text-blue-400 text-4xl font-extrabold leading-none tracking-tight dark:text-white">
                CREATE A TASK</h1>

            <input 
            class="bg-gray-50 border border-gray-300 rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text" name="Taskname" placeholder="Enter the Taskname" formControlName="name">

            <input 
            class="bg-gray-50 border border-gray-300 rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text" name="desc" placeholder="Enter Description" formControlName="description">

            <input 
            class="placeholder:text-gray-300 bg-gray-50 border border-gray-300 rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="date" name="duetime" placeholder="Enter the Due Time" formControlName="duetime">

            <input 
            class="bg-gray-50 border border-gray-300 rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="number" name="priority" placeholder="Enter the Priorty" formControlName="priority">

            <button 
            class="bg-blue-500 text-white block w-56 p-1 rounded hover:bg-blue-600 hover:shadow-md hover:shadow-blue-400 active:bg-sky-300 disabled:bg-gray-400 disabled:opacity-70"
            type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Done</button>

        </div>
    </form>
</div>